<div *ngIf="book">

  <div class="selected-book">
    <div class="selected-book-cover">
      <img [src]="book.coverImage" alt="cover image" class=""/>
    </div>
    <div class="selected-book-detail">
      <h2>{{book.title}}</h2>
      <p>Authors: {{book.authors}}</p>
      <p>ISBN: {{book.isbn}}</p>
      <p>Published: {{book.published}}</p>
      <p class="description">{{book.description}}</p>
    </div>
  </div>

  <div class="action-bar">
    <button class="mdl-button mdl-js-button  mdl-button--raised"
            (click)="goBack()">
      Go Back
    </button>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent"
            (click)="deleteBook(book.id)">
      Delete Book
    </button>
  </div>

  <div *ngIf="!book.isRented; else elseBlock" class="action-bar2">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
            (click)="rentBook(toNumber(customerId.value), book)">
      Rent
    </button>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" >
      <select class="mdl-textfield__input" #customerId >
        <option *ngFor="let customer of customers" [value]="customer.id">
          {{customer.name}}
        </option>
      </select>
    </div>
  </div>
  <ng-template #elseBlock>

    <div class="action-bar2">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
              (click)="returnBook(book.id, book)">
        Return
      </button>
      <h4>Sorry, this book is already rented by: {{getCustomer(book.rentedById)}}</h4>
    </div>
  </ng-template>

</div>

